.anchor-links {
  position: fixed;
  // bottom: 32px;
  left: 50%;
  top: 24px;
  // right: 32px;
  transform: translateX(-50%);
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 600px;
  z-index: 999;

  @include respond-to(phone) {
    display: none;
  }

  a {
    min-height: 32px;
    min-width: 56px;
    margin: 0;
    backdrop-filter: blur(6px);
    text-decoration: none;

    span {
      width: 95px;
      height: 32px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
