.design-process-card__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .design-process-card__wrapper {
    flex: 1;

    .design-process__number {
      position: absolute;
      top: -50px;
      max-width: 100px;
      z-index: -1;
    }

    .design-process__card {
      background: og-color(background, canvas);
      min-height: 200px;
      max-width: 400px;
      width: 100%;
      padding: og-space(space-16) og-space(space-32);
      box-sizing: border-box;
      box-shadow: 0 15px 45px -5px rgba(10, 16, 34, 0.3);
      border-radius: 8px;
      position: relative;

      @include respond-to(phone) {
        padding: og-space(space-08) og-space(space-16);
        min-height: 150px;
        max-width: 370px;
      }

      .design-process-badge {
        text-transform: uppercase;
        display: block;
        padding: og-space(space-08) og-space(space-24);
        text-align: center;
        border-radius: 0 8px 0 0;
        position: absolute;
        right: 0;
        top: 0;

        &.tertiary {
          color: og-color(text, info);
          background: og-color(background, info-hover);
        }
        &.success {
          color: og-color(text, positive);
          background: og-color(background, positive-hover);
        }
        &.warning {
          color: og-color(text, negative);
          background: og-color(background, negative-hover);
        }
      }
    }
  }
}
