.portfolio-footer-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  padding: 0 og-space(space-16);

  .text {
    margin-bottom: 120px;
  }

  .illustration-wrapper {
    position: relative;

    .flamingo1 {
      position: absolute;
      left: $og-space-80;
      bottom: 0;
      z-index: 1;
    }

    .flamingo2 {
      position: absolute;
      right: 10%;
      bottom: 0;
      z-index: 1;
    }

    .sun {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
    }

    .water {
      position: absolute;
      width: 100vw;
      bottom: 0;
      left: 0;
    }
  }

  @include respond-to(phone) {
    position: relative;

    a {
      @include og-text-style-body1();
      color: og-color(text, link);
      font-weight: bold;
    }

    .illustration-wrapper {
      display: none;
    }
  }
}
