.portfolio-footer-container {
  padding: 3rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;

  @include respond-to(phone) {
    position: relative;

    a {
      @include og-text-style-body1();
      color: og-color(text, link);
    }
  }
}
