.home-wrapper {
  display: grid;
  grid-row-gap: 300px;
  grid-template-columns: 100%;
  position: relative;
  padding-bottom: 400px;
  overflow: hidden;

  .home-brush-lettering {
    position: absolute;
    z-index: -1;

    &.studio {
      width: 850px;
      top: -220px;
      left: -221px;
      transform: rotate(-8deg);

      @include respond-to(phone) {
        top: -100px;
        right: -160px;
        min-width: 400px;
        height: 100px;
      }
    }

    &.class {
      top: -150px;
      left: -100px;
      transform: rotate(-10deg);

      @include respond-to(phone) {
        top: -100px;
        left: 0;
        min-width: 400px;
        height: 100px;
      }
    }

    &.code {
      min-width: 600px;
      top: -200px;
      left: -100px;
      transform: rotate(-10deg);

      @include respond-to(phone) {
        top: -100px;
        right: -160px;
        min-width: 400px;
        height: 100px;
      }
    }

    &.thoughts {
      min-width: 800px;
      top: -120px;
      left: -100px;
      transform: rotate(-10deg);

      @include respond-to(phone) {
        top: -100px;
        right: -160px;
        min-width: 400px;
        height: 100px;
      }
    }
  }
}
