.home-wrapper {
  display: grid;
  grid-row-gap: 300px;
  grid-template-columns: 100%;
  position: relative;
  padding-bottom: 400px;
  overflow: hidden;

  @include respond-to(phone) {
    grid-row-gap: 0px;
    padding-bottom: 0px;
  }

  .home-brush-lettering {
    position: absolute;
    z-index: -1;

    &.studio {
      width: 850px;
      top: -220px;
      left: -221px;
      transform: rotate(-8deg);

      @include respond-to(phone) {
        top: 0px;
        left: -20%;
        width: 375px;
      }
    }

    &.class {
      top: -150px;
      left: -100px;
      transform: rotate(-10deg);

      @include respond-to(phone) {
        top: 0px;
        left: -15%;
        width: 375px;
      }
    }

    &.code {
      min-width: 600px;
      top: -200px;
      left: -100px;
      transform: rotate(-10deg);

      @include respond-to(phone) {
        top: 20px;
        left: -20%;
        min-width: 80px;
        width: 375px;
      }
    }

    &.thoughts {
      min-width: 800px;
      top: -120px;
      left: -100px;
      transform: rotate(-10deg);

      @include respond-to(phone) {
        top: 80px;
        left: -10%;
        min-width: 80px;
        width: 375px;
      }
    }
  }
}
