.home-page-hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  position: relative;

  .hero-palms-illustration {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    animation: 2s ease-out 0s 1 palmsFadeIn;

    @include respond-to(phone) {
      display: none;
    }
  }

  .portfolio-logo-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }

  .portfolio-logo-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 723px;
    filter: drop-shadow(0 50px 5px rgba(0, 0, 0, 0.07));

    @include respond-to(phone) {
      width: 350px;
      position: relative;
      top: 250px;
    }
  }

  .hero-text-container {
    height: 188px;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // background-color: red;

    @include respond-to(phone) {
      height: 90px;
      position: absolute;
      top: 200px;
    }
  }

  .hero-overline-text-style {
    color: og-color(text, secondary);
    letter-spacing: 2px;
    width: 75ch;
    text-align: center;
    position: absolute;
    top: -80px;

    @include respond-to(phone) {
      display: none;
    }
  }

  .hero-subheading-text {
    position: absolute;
    width: 75ch;
    color: og-color(text, secondary);
    text-align: center;
    line-height: 1.7rem;
    font-size: og-font-size(heading6);
    bottom: -150px;
    z-index: 99;

    @include respond-to(phone) {
      width: 100%;
      color: og-color(text, secondary);
      font-size: og-font-size(body2);
      line-height: og-line-height(body2);
      padding: 0 og-space(space-24);
      position: relative;
    }
  }

  .home-contact-links {
    width: 100vw;
    text-align: center;
    margin-top: og-space(space-64) * 2;
    position: absolute;
    bottom: og-space(space-16);
    font-weight: og-font-weight(bold);

    @include respond-to(phone) {
      display: none;
    }
  }

  p {
    a {
      font-size: og-rem(14px);
      letter-spacing: og-rem(4px);
      font-family: "VT323", monospace !important;
      text-transform: uppercase;
      font-weight: semibold;
    }
  }

  .directional-signifier {
    position: absolute;
    bottom: og-space(space-32);
    display: flex;
    align-items: center;
    justify-content: center;
    height: og-space(space-48);
    width: og-space(space-48);
    border-radius: og-space(space-48);
    border: 1px solid rgba(0, 0, 0, 0.08);
    margin: 0 auto;

    i {
      color: rgba(0, 0, 0, 0.25);
    }

    @include respond-to(phone) {
      display: none;
    }
  }

  @include respond-to(phone) {
    p {
      font-size: og-font-size(body2);
    }
  }
}

@keyframes palmsFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
