.home-page-hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  position: relative;

  .hero-palms-illustration {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    animation: 2s ease-out 0s 1 palmsFadeIn;

    @include respond-to(phone) {
      display: none;
    }
    // -webkit-filter: drop-shadow(4px 3px 2px rgba(0, 0, 0, 0.7));
    // filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  }

  .portfolio-logo-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }

  .portfolio-logo-img {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 723px;
    filter: drop-shadow(0 50px 5px rgba(0, 0, 0, 0.07));

    @include respond-to(phone) {
      width: 350px;
      margin: 0 auto;
      top: 40%;
    }
  }

  .hero-empty-div {
    height: 250px;

    @include respond-to(phone) {
      height: 150px;
    }
  }

  .home-contact-links {
    width: 100vw;
    text-align: center;
    margin-top: og-space(space-64) * 2;
    position: absolute;
    bottom: og-space(space-16);
    font-weight: og-font-weight(bold);

    @include respond-to(phone) {
      display: none;
    }
  }

  p {
    a {
      font-size: og-rem(14px);
      letter-spacing: og-rem(4px);
      font-family: "VT323", monospace !important;
      text-transform: uppercase;
      font-weight: semibold;
    }
  }

  @include respond-to(phone) {
    p {
      font-size: og-font-size(body2);
    }

    grid-row-gap: 100px;
  }

  .hero-overline-text-style {
    padding-top: og-rem(56px);
    color: og-color(text, secondary);
    letter-spacing: 1px;

    @include respond-to(phone) {
      margin-bottom: 0px;
    }
  }

  .og-text-style-overline {
    margin-top: og-rem(100px);
  }

  .hero-subheading-text {
    max-width: 75ch;
    color: og-color(text, secondary);
    text-align: center;
    line-height: 1.7rem;
    font-size: og-font-size(heading6);

    @include respond-to(phone) {
      color: og-color(text, secondary);
      font-size: og-font-size(body1);
      padding: og-space(space-16);
      line-height: og-line-height(body1);
    }
  }

  .home-quote-statement {
    max-width: 600px;
    margin: 0 auto;
  }

  .directional-signifier {
    position: absolute;
    bottom: og-space(space-32);
    display: flex;
    align-items: center;
    justify-content: center;
    height: og-space(space-48);
    width: og-space(space-48);
    border-radius: og-space(space-48);
    border: 1px solid rgba(0, 0, 0, 0.08);
    margin: 0 auto;

    i {
      color: rgba(0, 0, 0, 0.25);
    }
  }
}

@keyframes palmsFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
