.home-studio-section {
  padding: 200px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;

  .text-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 65ch;
    margin-right: 48px;

    .columns {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .column {
        list-style: none;
        padding-left: 0;
      }

      h4 {
        margin: og-space(space-08) 0 0 0;
      }
    }
  }

  img {
    max-width: 490px;
    border-radius: 0 16px 16px 0;
  }

  @include respond-to(phone) {
    margin: 0 auto;
    flex-direction: column;
  }
}
