.home-code-section {
  padding: 200px 0;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;

  .code-cards-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 32px;
    grid-column-gap: 54px;
    padding: 0;

    .code-card {
      position: relative;
      list-style: none;

      .img-wrapper {
        position: relative;

        a {
          text-decoration: none;
          color: og-color(text, primary);
          overflow: hidden;

          img {
            width: 100%;
            height: 310px;
            object-fit: cover;
            border: 12px solid var(--og-brand-color2);
            border-radius: og-shape(quaternary);
          }
        }

        .cta-overlay {
          position: absolute;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          border-radius: 0px 0px $og-space-24 $og-space-24;
          height: 100%;
          width: 100%;
          bottom: 7px;
          left: 0;
          z-index: 999;
          cursor: pointer;
          transition: all ease-in-out 100ms;
          background-image: linear-gradient(
            to bottom,
            transparent 0%,
            rgba(0, 0, 0, 0.45) 100%
          );

          p {
            padding: $og-space-08 $og-space-24;
            color: og-color(text, primary-on-dark);
            font-weight: og-font-weight(bold) !important;
            text-shadow: 2px 2px var(--og-brand-color3);
          }
        }

        .selection-decorator-bar1 {
          position: absolute;
          height: 50px;
          width: 150%;
          top: 40%;
          margin-top: -18px;
          left: -25%;
          z-index: -1;
          background: var(--og-brand-color3);
        }

        .selection-decorator-bar2 {
          position: absolute;
          height: 50px;
          width: 150%;
          top: 60%;
          margin-top: -18px;
          left: -25%;
          z-index: -1;
          background: var(--og-brand-color3);
        }
      }

      .card-bottom-container {
        .card-text-container {
          h5 {
            margin-top: 8px;
            font-weight: bold !important;
          }

          p {
            margin: 0 0 og-space(space-08) 0;
          }
        }
      }
    }
  }
}
