.home-code-section {
  padding: 200px 0;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;

  @include respond-to(phone) {
    padding-top: 150px;
  }

  .code-cards-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 32px;
    grid-column-gap: 54px;
    padding: 0;

    @include respond-to(phone) {
      grid-template-columns: 1fr;
      grid-row-gap: 64px;
      padding: 0 $og-space-16;
    }

    .code-card {
      position: relative;
      list-style: none;

      .img-wrapper {
        position: relative;

        a {
          text-decoration: none;
          color: og-color(text, primary);
          overflow: hidden;

          video,
          img {
            width: 100%;
            height: 380px;
            object-fit: cover;
            cursor: pointer;
            border-radius: og-shape(quaternary);

            @include respond-to(phone) {
              height: 310px;
            }
          }

          .card-image {
            border: og-rem(16px) solid var(--og-brand-color2);
            // background: linear-gradient(
            //   to bottom right,
            //   #b827fc 0%,
            //   #2c90fc 25%,
            //   #b8fd33 50%,
            //   #fec837 75%,
            //   #fd1892 100%
            // );
            // border: 12px solid transparent;
            // border-image: linear-gradient(
            //   to bottom right,
            //   #b827fc 0%,
            //   #2c90fc 25%,
            //   #b8fd33 50%,
            //   #fec837 75%,
            //   #fd1892 100%
            // );
            // border-image-slice: 1;
            border-radius: og-shape(quaternary) !important;
          }
        }

        .cta-overlay {
          position: absolute;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          border-radius: 0px 0px $og-space-24 $og-space-24;
          height: 23%;
          width: 100%;
          bottom: 7px;
          left: 0;
          z-index: 999;
          cursor: pointer;
          transition: all ease-in-out 100ms;
          background-image: linear-gradient(
            to bottom,
            transparent 0%,
            rgba(0, 0, 0, 0.45) 100%
          );

          p {
            padding: $og-space-08 $og-space-24;
            color: og-color(text, primary-on-dark);
            font-weight: og-font-weight(bold) !important;
            text-shadow: 2px 2px var(--og-brand-color3);
          }
        }

        .selection-decorator-bar1 {
          position: absolute;
          height: 50px;
          width: 130%;
          top: 40%;
          margin-top: -18px;
          left: -25%;
          z-index: -1;
          background: var(--og-brand-color3);
          border-radius: og-shape(quaternary);
        }

        .selection-decorator-bar2 {
          position: absolute;
          height: 50px;
          width: 130%;
          top: 30%;
          margin-top: -18px;
          left: -25%;
          z-index: -1;
          background: var(--og-brand-color3);
          border-radius: og-shape(quaternary);
        }
      }

      .card-bottom-container {
        .card-text-container {
          h5 {
            margin-top: 8px;
            font-weight: bold !important;
          }

          p {
            margin: 0 0 og-space(space-08) 0;
          }

          @include respond-to(phone) {
            h5 {
              font-size: og-font-size(subheading2);
            }

            p {
              font-size: og-font-size(body2);
            }
          }
        }
      }
    }
  }

  .show-more-link {
    width: 200px;
    padding: $og-space-16;
    margin: 0 auto;
    display: block;
    margin-top: $og-space-64;
    @include og-border(thickest, brand, solid);
    font-weight: og-font-weight(bold);
    text-align: center;
    border-radius: og-shape(primary);
  }
}
